<div class="well">
	<h3 class="left">Declining</h3><div class="help" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper lobortis velit, non pulvinar nisi auctor ac. Nam sapien orci, dictum eget gravida vitae, pretium ut risus. Suspendisse pellentesque arcu vel lacus pretium non ornare dui egestas. Nullam molestie posuere arcu sit amet pharetra. Nam eget erat sem, id fringilla sem. Curabitur ante risus, venenatis et dignissim non, luctus sed dolor. <br/><br/>In elementum arcu molestie ligula vestibulum consequat gravida dui consectetur. Quisque nec mauris nisl. Curabitur sed nisl sem, sit amet pretium mauris. Nullam dignissim porta ante volutpat iaculis. Vivamus sed pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit."></div>
	<table class="table table-bordered table-striped">
		<thead>
		    <tr>
				<th></th>
				<th>Technology</th>
				<th>Adoption</th>
				<th>Evolution</th>
				<th>Knowledge</th>
				<th>Newsworthiness</th>
				<th>Sentiment</th>
				<th>Total</th>
				<th>Iterations declining</th>
		    </tr>
	  	</thead>
	  	<tbody>
	  		<% @key = 0 %>
		    <% FasterCSV.foreach("public/#{@csv_file}", :headers => true) do |csv_obj| %>
		    	<% if @key < 10 %>
			    	<tr>
			    		<td><%= @key + 1 %></td>
						<td><%= link_to csv_obj['technology'].capitalize, "/#{full_category(csv_obj['category'])}/#{csv_obj['technology']}" %></td>
						<td><%= csv_obj['adoption'] %> 	<span class="change decrease">(-<%= 1 + rand(34) %>%)</span></td>
						<td><%= csv_obj['adoption'] %> 	<span class="change decrease">(-<%= 1 + rand(34) %>%)</span></td>
						<td><%= csv_obj['knowledge'] %> <span class="change decrease">(-<%= 1 + rand(34) %>%)</span></td>
						<td><%= csv_obj['adoption'] %> 	<span class="change decrease">(-<%= 1 + rand(34) %>%)</span></td>
						<td><%= csv_obj['sentiment'] %> <span class="change decrease">(-<%= 1 + rand(34) %>%)</span></td>
						<td><%= csv_obj['total'] %> 	<span class="change decrease">(-<%= 1 + rand(34) %>%)</span></td>
						<td>
							<% (1...2 + rand(4)).each do |value| %>
								<div class="arrow down"></div>
							<% end %> 
						</td>
					</tr>
				<% end %>
				<% @key = @key + 1 %>
			<% end %>
		</tbody>
	</table>
</div>