<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li id="" class="nav-header">Programming Languages</li>
    <li id="bubbles"><a href="<%= @current_path %>/bubbles">Bubbles</a></li>
    <li id="best-rated"><a href="<%= @current_path %>/best-rated">Best rated</a></li>
    <li id="rising"><a href="<%= @current_path %>/rising">Rising technologies</a></li>
    <li id="declining"><a href="<%= @current_path %>/declining">Declining technologies</a></li>
    <li id="compare"><a href="<%= @current_path %>/compare">Compare aspects</a></li>
    <li id="timeline"><a href="<%= @current_path %>/timeline">Timeline</a></li>
  </ul>
</div>

<script type="text/javascript">
	$(function () {
		var urlpath = window.location.pathname.split('/');
		$('ul.nav-list li').each(function(){
			if(urlpath[2] == $(this).attr('id')){
				$(this).attr('class', 'active');
			}
		});
	})
</script>